<h3 id="change-event"><a href="#change-event"><code>change:</code> event</a></h3>
<p>Matreshka allows you to listen property change event. When you're adding listener for <code>change:%PROPERTY_NAME%</code> event, Matreshka creates setter for this property. It means that you can change the property directly, without calling methods such as <code>.set</code>.</p>
	<div class="row">
		
		<div class="col-lg-5 mk-example mk-example-js">
{% highlight javascript %}var mk = new MK();

mk.on( 'change:x', function() {
	var text = 'x changed to ' + this.x;
	$( '.output' ).html( text );
});

mk.x = 5;
{% endhighlight %}
		</div>
		<div class="col-lg-5 mk-example mk-example-layout">
{% highlight html %}
<div class="output"></div>
{% endhighlight %}			
		</div>
		<div class="col-lg-2 mk-example mk-example-result">
			<div class="output ex2"></div>
			<script>
				runIt.push( function() {
					var mk = new MK();

					mk.on( 'change:x', function() {
						var text = 'x changed to ' + this.x;
						$( '.output.ex2' ).html( text );
					});

					mk.x = 5;
				});
			</script>
		</div>
	</div>
	 
