<h3 id="predef-binding"><a href="#predef-binding">Element binding using default binders</a></h3>
<p>You can describe default binding cases via <a href="../docs/Matreshka.html#defaultBinders"><code>.defaultBinders</code></a> array.</p>
	<div class="row">
		
		<div class="col-lg-5 mk-example mk-example-js">
{% highlight javascript %}
var mk = new MK(); // same as new Matreshka;
mk.bindElement( 'x', '.my-select' );
mk.x = 3;
{% endhighlight %}
		</div>
		<div class="col-lg-5 mk-example mk-example-layout">
{% highlight html %}
<select class="my-select">
	<option value="1">First Option</option>
	<option value="2">Second Option</option>
	<option value="3">Third Option</option>
	<option value="4">Fourth Option</option>
	<option value="5">Fifth Option</option>
</select>
{% endhighlight %}		
		</div>
		<div class="col-lg-2 mk-example mk-example-result">
			<select class="my-select ex6">
				<option value="1">First Option</option>
				<option value="2">Second Option</option>
				<option value="3">Third Option</option>
				<option value="4">Fourth Option</option>
				<option value="5">Fifth Option</option>
			</select>
			<script>
				runIt.push( function() {
					var mk = new MK(); // same as new Matreshka;

					mk.bindElement( 'x', '.my-select.ex6' );

					mk.x = 3;
				});
			</script>
		</div>
	</div> 
