	
	<h3 id="inheritance"><a href="#inheritance">Inheritance</a></h3>
	<div class="row">
		<div class="col-lg-5 mk-example mk-example-js">
{% highlight javascript %}var MyApp = Class({
	'extends': MK,
	constructor: function() {
		this
			//calling this method is required before you use events and bindings
			.initMK()
			// default data
			.set( 'x', 3 )
			.bindElement( 'x', '.my-select' )
			.on( 'change:x', function() {
				alert( 'x changed to ' + this.x );
			})
		;
	}
});

var app = new MyApp();
{% endhighlight %}
		</div>
		<div class="col-lg-5 mk-example mk-example-layout">
{% highlight html %}
<select class="my-select">
	<option value="1">First Option</option>
	<option value="2">Second Option</option>
	<option value="3">Third Option</option>
	<option value="4">Fourth Option</option>
	<option value="5">Fifth Option</option>
</select>
{% endhighlight %}			
		</div>
		<div class="col-lg-2 mk-example mk-example-result">
			<select class="my-select ex5">
				<option value="1">First Option</option>
				<option value="2">Second Option</option>
				<option value="3">Third Option</option>
				<option value="4">Fourth Option</option>
				<option value="5">Fifth Option</option>
			</select>
			<script>
				runIt.push( function() {
					var MyApp = Class({
						'extends': MK,
						constructor: function() {
							this
								//calling this method is required before you use events and bindings
								.initMK() 
								.set( 'x', 3 )
								.bindElement( 'x', '.my-select.ex5' )
								.on( 'change:x', function() {
									alert( 'x changed to ' + this.x );
								})
							;
						}
					});

					var app = new MyApp();
				});
			</script>
		</div>
	</div> 
