<h3 id="custom-binding"><a href="#custom-binding">Binding custom element</a></h3>
	<div class="row">
		
		<div class="col-lg-5 mk-example mk-example-js">
{% highlight javascript %}// custom checkbox behavior
$( document ).on( 'click',  '.custom-checkbox', function() {
	$( this ).toggleClass( 'checked' );
});
{% endhighlight %}
{% highlight javascript %}var mk = new MK();

mk.bindElement( 'x', '.my-checkbox', {
	on: 'click',
	getValue: function() {
		return $( this ).hasClass( 'checked' );
	},
	setValue: function( v ) {
		$( this ).toggleClass( 'checked', !!v );
	}
});

mk.x = true;
{% endhighlight %}
		</div>
		<div class="col-lg-5 mk-example mk-example-layout">
{% highlight css %}
.custom-checkbox {
	background-image: url(...);
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
}

.custom-checkbox.checked {
	background-position: -14px;
}
{% endhighlight %}
{% highlight html %}
<span class="custom-checkbox my-checkbox">
</span> My Checkbox
{% endhighlight %}			
		</div>
		<div class="col-lg-2 mk-example mk-example-result">
			<span class="custom-checkbox my-checkbox ex3"></span> My Checkbox
			<style>
				.custom-checkbox {
					background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAOCAYAAAB6pd+uAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAlBJREFUeNpijImJiWRAA////2dgZGREoUEAxMYHiNGHSw4mjm4eDCCrg/GJ0cMCEliyZMlyBhJAbGxsJLn6QPTixYvpYh8o8pgIxQq+mCJHH7mAHPtAephobVnadgYhbPpAbBwYFOhsUMxEacAwMdAQJG7+a/b7z997QDqNyMBhsra25v7w4cOE379/nwfyWSiNfap4MHLdL1EsYmY/fv/dBcT8QKyCxaHMQMwOxGxQdzDn5uYK79q1ax0/P3/mx48fN4CUI8c2OYCF3JCB6QtY8a0CSFUErPjjtiGC6xRUzAxI7QJifiDuBoqXYYlB5r9//94BemRjfHx8g4eHh0BKSsoqNjY2wy9fvqwTERFpAar5gy3PB6/6jtfRa8M44YpZyA0ZmL5vP3/zQz2yy23hRzeoNMxzHbvi+StxhdH79+8XCQsLV61du9aJiYmJg5mZWfHXr19nkpKSUoHyP2ExiA6evf9CwHWc8EhgoTR5gjxgM/sNKLmVQj3GAPPckVSRSjxa//j7+3fs2bPHjoODwwYkAIzR+0uXLg1fvXr1RyD3H64S+Hi6KNGxwkRpEgUBoEfKvv/60wfE/FBMyHNgI44ePfpt3bp1Sf/+/XsLNO/TqVOnYoCx9wjkV/TUQm41wUKtEvNstkSx9oSnIOavqwXSlUTWhX+jo6Mf2NnZpQLF/1pZWZ1G9xwl9S4DcjFMDQD0WDEZdegfWVnZjTC/YMt35HqO7EKGkpYMepsSl6eoAcD2ITe20RvLxHqQVH3oHkU3i1Cs4WpkY9MDEGAAFQxTksy+zWUAAAAASUVORK5CYII=);
					position: relative;
					display: inline-block;
					width: 14px;
					height: 14px;
				}

				.custom-checkbox.checked {
				background-position: -14px;
				}
			</style>
			<script>
				runIt.push( function() {
					$( document ).on( 'click',  '.custom-checkbox.ex3', function() {
						$( this ).toggleClass( 'checked' );
					});

					var mk = new MK();

					mk.bindElement( 'x', '.my-checkbox', {
						on: 'click',
						getValue: function() {
							return $( this ).hasClass( 'checked' );
						},
						setValue: function( v ) {
							$( this ).toggleClass( 'checked', !!v );
						}
					});

					mk.x = true;
				});
			</script>
		</div>
	</div> 
