<h3 id="binding"><a href="#binding">Element binding</a></h3>
<p>The next 3 examples show you how to bind data to UI. More info about <code>bindElement</code> method you can find in <a href="{{page.relative}}matreshka/docs/Matreshka.html#bindElement">on documentation page</a>. </p>
<div class="row">
		<div class="col-lg-5 mk-example mk-example-js">
{% highlight javascript %}var mk = new MK(); // same as new Matreshka;
mk.bindElement( 'x', '.my-select', {
	on: 'change',
	getValue: function() {
		return this.value;
	},
	setValue: function( v ) {
		this.value = v;
	}
});

mk.x = 3;
{% endhighlight %}
		</div>
		<div class="col-lg-5 mk-example mk-example-layout">
{% highlight html %}<select class="my-select">
	<option value="1">First Option</option>
	<option value="2">Second Option</option>
	<option value="3">Third Option</option>
	<option value="4">Fourth Option</option>
	<option value="5">Fifth Option</option>
</select>
{% endhighlight %}			
	</div>
	<div class="col-lg-2 mk-example mk-example-result">
		<select class="my-select ex1">
			<option value="1">First Option</option>
			<option value="2">Second Option</option>
			<option value="3">Third Option</option>
			<option value="4">Fourth Option</option>
			<option value="5">Fifth Option</option>
		</select>
		<script>
			runIt.push( function() {
				var mk = new MK(); // same as new Matreshka;

				mk.bindElement( 'x', '.my-select.ex1', {
					on: 'change',
					getValue: function() {
						return this.value;
					},
					setValue: function( v ) {
						this.value = v;
					}
				});

				mk.x = 3;
			});
		</script>
	</div>
	<div class="clearfix"></div>
</div> 
