<h3 id="mk-object_jset-and-toJSON"><a href="#mk-object_jset-and-toJSON"><code>.jset</code> and <code>.toJSON</code></a></h3>
<p>How to add properties to appliaton data set? It could be done using <code>jset</code> method by passing needed properties to this method once. From now you don't need to be care which properties are responsible for data and you can work with any data property as with regilar property. Look at docs:
<a href="{{page.relative}}matreshka/docs/Matreshka.Object.html#jset">jset</a>,
<a href="{{page.relative}}matreshka/docs/Matreshka.Object.html#toJSON">toJSON</a>,
<a href="{{page.relative}}matreshka/docs/Matreshka.Object.html#keys">keys</a>,
<a href="{{page.relative}}matreshka/docs/Matreshka.Object.html#addJSONKeys">addJSONKeys</a>,
<a href="{{page.relative}}matreshka/docs/Matreshka.Object.html#removeJSONKeys">removeJSONKeys</a>.</p>
<div class="row">
	
	<div class="col-lg-5 mk-example mk-example-js">
{% highlight javascript %}var     mkObject = new MK.Object,
	result;

// making 'a' and 'b' data keys
mkObject.jset({
	a: 1,
	b: 2
});

mkObject.b = 3;

// c is not data so it's not part of result
// of the .toJSON method
mkObject.c = 4;

result = mkObject.toJSON();

$( '.output' ).html( JSON.stringify( result ) );
{% endhighlight %}
	</div>
	<div class="col-lg-5 mk-example mk-example-layout">
{% highlight html %}
<div class="output"></div>
{% endhighlight %}				
	</div>
	<div class="col-lg-2 mk-example mk-example-result">
		<div class="output ex9"></div>
		<script>
			runIt.push( function() {
				var mkObject = new MK.Object,
					result;
				
				// making 'a' and 'b' data keys
				mkObject.jset({
					a: 1,
					b: 2
				});
				
				mkObject.b = 3;
				
					// c is not data so it's not going to result of .toJSON
				mkObject.c = 4;
				
				result = mkObject.toJSON();
				
				$( '.output.ex9' ).html( JSON.stringify( result ) );
			});
		</script>
	</div>
</div>		 
